/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gantari&display=swap');

:root {
    /* Color Palette */
    --primary-color: #8ECAE6   ;
    --secondary-color: #219EBC ;
    --accent1-color: #023047;
    --accent2-color: #FFB703;
    --accent3-color: #FB8500;
  
    /* Preferred Fonts */
    --heading-font: 'Amatic SC', Arial, sans-serif;;
    --paragraph-font: 'Gantari', Arial, sans-serif;
  
    /* Site Plan Color Scheme */
    --headline-color-on-white: #023047;  /* headlines on a white background */ 
    --headline-color-on-color: #219EBC; /* headlines on a colored background */ 
    --paragraph-color-on-white: #023047; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #023047  ;
    --nav-link-color: #023047;
    --nav-background-color: #FFB703;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #FB8500;
  }

#content {
      margin: 0 auto;
      max-width: 1600px;
  }
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
      color: blue;
      text-align: center;
      text-decoration: none;
      padding: 35px;
  }
nav a:hover {
      color: lightsteelblue;
      text-align: center;
  }
#hero_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero_msg h1, #hero_msg h4 {
      color: black;
      text-align: center;
  }
.button_box {
      color: black;
      text-align: center;
  }
main section {
      text-align: center;
  }
#background {
      height: 725px;
  }
body {
      background-color: #8ECAE6;
      font-size: 22px;
      font-family: var(--paragraph-font);
      margin: 0;
      padding: 0;
  }
header{
      background-color: #219EBC;
      display: grid;
      grid-template-columns: 150px auto;
  }
.book, .join{
      background-color: #FFB703;
      color: black;
      text-decoration: none;
      font-size: 18px;
      padding: 15px 30px;
      margin-top: 50px;
      border-radius: 5px;
  }
.book:hover, .join:hover {
      background-color: #FB8500;
      color: black;
  }
#background {
      background-color: #FFB703;
      height: 725px;
      grid-column: 1/11;
      grid-row: 4/9;
  }
.msg {
      background-color: #FB8500;
      line-height: 1.5em;
      padding: 35px;
      grid-column: 6/10;
      grid-row: 6/7;
  }
footer {
      background-color: #219EBC;
      padding: 25px 50px;
      margin-top: 200px; 
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
.home_title {
      color: black;
      font-family: var(--heading-font) ;
      font-size: 2em;
      margin-top: 10px;
  }
h4 {
      color: black;
  }
.msg h2 {
      color: black;
      font-family: var(--heading-font);
  }
.msg p {
      color: black;
      font-size: .8em;
      padding-bottom: 15px;
  }
footer h3 {
      color: black;
  }
footer a {
      color: black;
      text-decoration: none;
  }
footer a:hover {
      color: white;
  }
.logo {
      width: 80px;
  }
.icon {
      width: 80px;
      padding-top: 10px;
  }
#hero_img {
      width: 100%;
  }
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero_box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
footer p {
      font-size: 1.2em;
  }
footer p a:hover {
      text-decoration: underline;
  }  
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers_card, .camping_card, .rapids_card {
    margin: 200px 0;
}
.rivers_card {
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping_card {
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids_card {
  grid-column: 8/10;
  grid-row: 2/3;
}
.card_img {
    border: 10px solid var(--accent3-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #737470;
}
.card_img:hover {
  opacity: .8;
  transform: scale(1.1);
}
.card_img, .mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
}
main section img {
    box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}
      