#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: blue;
    text-decoration: none;
}
nav a:hover {
    text-align: center;
    color: lightsteelblue;
}
#hero_msg h1, #hero_msg h4 {
    text-align: center;
    color: black;
}
.button_box {
    text-align: center;
    color: black;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #8ECAE6;
}
header{
    background-color: #219EBC;
}
.book, .join{
    background-color: #FFB703;
    color: black;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #FB8500;
    color: black;
}
#background {
    height: 725px;
    background-color: #FFB703;
}
.msg {
    background-color: #FB8500;
}
footer {
    background-color: #219EBC;
}
.home_title {
    color: black;
}
h4 {
    color: black;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
}
footer h3 {
    color: black;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero_img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}  